---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import logo from "~/assets/l.png";
---

<ContentSection title="Just Join Jyothi" id="intro">
  <Fragment slot="lead">
    Jyothi Creative Hub is <span class="text-primary">NOT</span> just another digital agency.
    We're your <span class="text-primary">unfair advantage</span> to help you stand above your competition.
    Our <span class="text-primary">perosnalized solutions </span>are designed to help you <span class="text-primary">grow your business</span> and <span class="text-primary">stand out</span> in the market.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Get a Quote</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Explore our Projects</span>
    </a>
  </div>
</ContentSection>
